<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="idleTown" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="idleTown" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="idleTown" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="idleTown" class="no-js"> <!--<![endif]-->
<head ng-app="idleTown">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="GameLoopController">
  <div class="container">
    <h1>This Game</h1>

    <div class="row">
      <div class="col-md-4">
        <div ng-controller="ResourceController as resourceCtrl">
          <h4>Occidental Resources</h4>
          <div ng-repeat="resource in resourceCtrl.resources">
            {{resource.name}}
            <em>{{resource.count | number : 0}}</em>
            <button type="button" class="btn btn-default btn-xs" ng-click="resourceCtrl.giveResource(resource, 5)">giev</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h4>Oriental Resources</h4>
      </div>
      <div class="col-md-4" ng-controller="PopulationController as populationCtrl">
        <h4>Population</h4>
        <div ng-repeat="people in populationCtrl.population">
          {{people.name}}
          <em>{{people.count}}/{{populationCtrl.getTotalCapacity(people.name)}}</em>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Houses</h3>
        <div ng-controller="PopulationController as housingCtrl">
          <button type="button" class="btn btn-primary" ng-click="housingCtrl.buyHouse()" ng-disabled="!housingCtrl.canAfford()">Buy House</button>
          <div ng-repeat="house in housingCtrl.houses">
            {{house.name}} - {{house.count}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Buildings</h3>
        <div ng-controller="BuildingController as buildingCtrl">
          <div ng-repeat="building in buildingCtrl.productionBuildings">
            <div ng-class="{row:index % 3 === 0}">
              <div class="col-sm-4">
                <h4>{{building.name}} - {{building.description}}</h4>
                Count: {{building.count}} - Maintenance: {{building.maintenance}}
                <br>
                <progressbar max="building.outputTime" value="building.progress"></progressbar>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <button type="button" class="btn btn-primary" ng-click="buildingCtrl.buyBuilding(building)" ng-disabled="!buildingCtrl.canAfford(building)">
                      Buy for {{buildingCtrl.costAsString(building)}}</button>
                    <button type="button" class="btn btn-danger" ng-click="buildingCtrl.destroyBuilding(building)" ng-disabled="building.count <= 0">Destroy Building</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 

  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/resource-controller.js"></script>
  <script src="js/controllers/building-controller.js"></script>
  <script src="js/controllers/population-controller.js"></script>
  <script src="js/controllers/game-loop-controller.js"></script>
  <script src="js/services/resource-service.js"></script>
  <script src="js/services/building-service.js"></script>
  <script src="js/services/population-service.js"></script>
</body>
</html>
